* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-image: url(https://i.imgur.com/8Chx17U.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1, form, p {
    font-family: "Press Start 2P";
    text-align: center;
}

 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 10px solid black;
    text-align: center;
    color: whitesmoke;
}
.current-word {
    list-style: none;
}
.output {
    opacity: 50;
    transition: opacity 1s ease;
}
.correct {
    background-color: green;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}